.twin-container{
    display: flex;
}

.product-container{
    width: 70%;
    margin-left: 150px;
    margin-right: 5px;
    border-right: 1px solid lightgray;
}

.product-search input{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 700px;
    border: 1px solid gray;
    border-radius: 5px;
}