.cart-area{
    border: 1px solid lightgray;
    width: 150%;
    background-color: moccasin;
}

.summary-area{
    background-color: lightslategray;
    text-align: center;
    line-height: 1.25;
}

.price-area{
    line-height: 5px;
    
}


table.priceTable td.priceValue {
    text-align: right;
  }