.Header img{
    height: 80px;
}

.Header{
    text-align: center;
}

.Header nav{
    background-color: black;
    line-height: 40px;
    font-size: 20px;
    
}

nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
}

nav a:hover {
    background-color: gray;
}

p {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;

}
.display-name{
    color: white;
    margin-right: 30px; 
}
.display-photo img{
    margin-top: 15px;
    width: 25px;
    height: 25px;
    margin-right: 30px;
    border-radius: 50%;
}